.App {
    text-align: center;
    background-image: url('../public/rick-and-morty-in-outer-space_1920x1080.jpg');
    background-size: cover;
    background-repeat: no-repeat;
 }
 
 .line {
    display: block;
    margin: 15px auto;
    width: 85%;
    border-bottom: 2px solid beige;
    content: "";
  }
 
 .center{
    display: flex;
    justify-content: space-around;
    
 }